<div class="text-center">
    <h1>Welcome to NexTurn</h1>
    <p>

        This is Angualr js Single page Application
    </p>
    <br>
    <div class="bg-primary">
        <div class="text-center">
            <h2>Engineer your NexTurn on Cloud </h2>
        </div>
        <p> We enable clients to navigate the paradigm shift in building and modernizing software products & platforms
            leveraging cloud native solutions. Partner with us to accelerate your innovation & digital transformation
            journey by unlocking full value of cloud.
        </p>
    </div>

</div>